{% extends 'main/layout.html' %}

{% block title %} Контакты {% endblock %}

{% block content  %}
 <div class="features">
        <h1>Контакты</h1>
        <p>
        <a href="https://vk.com/katyapotochkina" target="_blank"> Разработал</a>
        <a href="https://vk.com/katyapotochkina" target="_blank"> Произвел</a>
        <a href="https://vk.com/twistel" target="_blank"> Вырезал</a>
        <a href="https://www.ozon.ru/product/igra-nastolnaya-kartochnaya-dlya-dvoih-let-love-win-52-svidaniya-kvest-igra-dlya-pary-podarok-1335558768/?asb=VakscAyD55GLtpRt256U3%252FZU1%252BoNVQwAQpMyWdXnWeQ%253D&asb2=DCKLAtPKE82jyYUg1xKbU3CBetqVUxo880hRU0vk2zcWL8xor1-3pEI3Cr3iP9FS&avtc=1&avte=2&avts=1702814977&keywords=let+love+win" target="_blank"> Купить физическую копию игры</a></p>
    </div>
{% endblock %}